Sales Orders.json
{
  "name": "Sales Orders",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        0
      ],
      "id": "f2b57eeb-3f0e-4d26-9ff7-02a8ec985b37",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "Sale Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your_sheet_url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your_sheet_url"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        0
      ],
      "id": "46783ef3-f4d6-48f7-b979-11bdc5f8af05",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WbE2JJX0ARxg2P1W",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "f5b1f108-bcdc-472b-88f5-780636097ae6",
              "leftValue": "={{ $json.UnitPrice }}",
              "rightValue": "=500",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        256,
        0
      ],
      "id": "7e006d56-a480-43aa-9fe8-06fa0f49b2c0",
      "name": "High Value Orders"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "3d89a7c0-25a1-46ea-bbe2-674e0c5d0155",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "1aa9f456-19b3-4b9e-9d59-70f283f48ddc",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Shipped",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        0
      ],
      "id": "8f4f1242-e8bb-4de8-b010-b07a837bc0b7",
      "name": "Status Of Orders"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet total = 0;\nlet count = 0;\n\nfor (let item of items) {\n  total += item.json.UnitPrice; // change to your price column name\n  count++;\n}\n\nreturn [{\n  json: {\n    status_group: \"Completed/Shipped\",\n    total_sales: total,\n    order_count: count\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -160
      ],
      "id": "17965a08-391b-4cba-8c6e-d24a60cbda26",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet total = 0;\nlet count = 0;\n\nfor (let item of items) {\n  total += item.json.UnitPrice;\n  count++;\n}\n\nreturn [{\n  json: {\n    status_group: \"Pending\",\n    total_sales: total,\n    order_count: count\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        96
      ],
      "id": "93760421-5453-4ad6-8ffd-f81085d4a648",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        -32
      ],
      "id": "1aaeecc8-e9b2-4c8e-ad6a-ec04534e4cca",
      "name": "Merge"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U0B8VKVS4UU",
          "mode": "list",
          "cachedResultName": "batman"
        },
        "text": "=*Daily Order Summary*\n{{ $json.status_group }}\nOrders:{{ $json.order_count }}\nTotal:{{ $json.total_sales }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1184,
        -32
      ],
      "id": "895e0c94-4322-4ab4-ae93-b5ff3dd90f1d",
      "name": "Send a message",
      "webhookId": "3dcfe0c1-e004-4454-8fa3-a53f6bbae9f7",
      "credentials": {
        "slackApi": {
          "id": "shuRmbHOZwEmYmiz",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "High Value Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Value Orders": {
      "main": [
        [
          {
            "node": "Status Of Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Of Orders": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0cd1c36a-1d38-47d4-8e98-8707d1947e8a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc2f03ff7eea0a5736d9539019061eae5489e4cbd303b4ade1c377b6d0f01a5a"
  },
  "id": "WetsXdO6k2sDZLJz",
  "tags": []
}